################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/NationPost.API/obj/Debug
/NationPost.API/bin
/.vs/NationPost.API/v14/.suo
/NationPost.API/obj/Release
